### Read transformed data

In [13]:
import pandas as pd

df = pd.read_csv("atp_transformed/2000-2024 with covid.csv")

df.head()

C:\Users\Rusty\AppData\Local\Temp\ipykernel_19808\54908254.py:3: DtypeWarning: Columns (5,13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("atp_transformed/2000-2024 with covid.csv")

,tourney_id,tourney_name,tourney_type,surface,draw_size,tourney_level,tourney_date,match_num,score,round_1,...,double_faults,points_on_serve,first_serve_in,1st_won,2nd_won,service_games,break_points_saved,break_points_faced,match_outcome,player_tourney_match_id
0,2000-301,Auckland,matches,Hard,32,A,2000-01-10,1,7-5 4-6 7-5,7-5,...,4.0,96.0,49.0,39.0,28.0,17.0,3.0,5.0,1,103163:2000-301:1
1,2000-301,Auckland,matches,Hard,32,A,2000-01-10,1,7-5 4-6 7-5,7-5,...,4.0,96.0,49.0,39.0,28.0,17.0,3.0,5.0,0,101543:2000-301:1
2,2000-301,Auckland,matches,Hard,32,A,2000-01-10,2,7-5 7-5,7-5,...,3.0,76.0,52.0,39.0,13.0,12.0,5.0,6.0,1,102607:2000-301:2
3,2000-301,Auckland,matches,Hard,32,A,2000-01-10,2,7-5 7-5,7-5,...,3.0,76.0,52.0,39.0,13.0,12.0,5.0,6.0,0,102644:2000-301:2
4,2000-301,Auckland,matches,Hard,32,A,2000-01-10,3,6-3 6-1,6-3,...,0.0,55.0,35.0,25.0,12.0,8.0,1.0,1.0,1,103252:2000-301:3

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1289980 entries, 0 to 1289979
Data columns (total 37 columns):
 #   Column                   Non-Null Count    Dtype
---  ------                   --------------    -----
 0   tourney_id               1289980 non-null  object
 1   tourney_name             1289980 non-null  object
 2   tourney_type             1289980 non-null  object
 3   surface                  1289874 non-null  object
 4   draw_size                1289980 non-null  int64
 5   tourney_level            1289980 non-null  object
 6   tourney_date             1289980 non-null  object
 7   match_num                1289980 non-null  int64
 8   score                    1289880 non-null  object
 9   round_1                  1289810 non-null  object
 10  round_2                  1284520 non-null  object
 11  round_3                  433102 non-null   object
 12  round_4                  25000 non-null    object
 13  round_5                  6832 non-null     object
 14  best_of                  1289980 non-null  int64
 15  tourney_round            1289980 non-null  object
 16  minutes                  357546 non-null   float64
 17  player_id                1289980 non-null  int64
 18  player_seed              441337 non-null   float64
 19  player_name              1289980 non-null  object
 20  player_hand              1289965 non-null  object
 21  player_height            828339 non-null   float64
 22  player_country           1289971 non-null  object
 23  player_age               1285343 non-null  float64
 24  player_rank              1183598 non-null  float64
 25  player_rank_points       1183441 non-null  float64
 26  ace                      369010 non-null   float64
 27  double_faults            369010 non-null   float64
 28  points_on_serve          369010 non-null   float64
 29  first_serve_in           369010 non-null   float64
 30  1st_won                  369010 non-null   float64
 31  2nd_won                  369010 non-null   float64
 32  service_games            369006 non-null   float64
 33  break_points_saved       369010 non-null   float64
 34  break_points_faced       369010 non-null   float64
 35  match_outcome            1289980 non-null  int64
 36  player_tourney_match_id  1289980 non-null  object
dtypes: float64(15), int64(5), object(17)
memory usage: 364.1+ MB

# New Table:
 - Player ID
 - Player Name
 - Total Wins
 - Average Win Rate

In [15]:
# Group by player_id and aggregate required columns
player_stats = (
    df.groupby('player_id')
      .agg(
          player_name=('player_name', 'first'),
          total_wins=('match_outcome', 'sum'),
          matches_played=('match_outcome', 'count')
      )
      .reset_index()
)

# Calculate average win rate
player_stats['average_win_rate'] = player_stats['total_wins'] / player_stats['matches_played']

# Select relevant columns
player_stats = player_stats[['player_id', 'player_name', 'total_wins', 'average_win_rate']]

player_stats.head()
# ...existing code...

   player_id           player_name  total_wins  average_win_rate
0     100236            John James           5          0.555556
1     100428            Gene Mayer           1          0.500000
2     100644      Alexander Zverev         527          0.680879
3     100653          Andres Gomez           0          0.000000
4     100754  Rafael Avalos Brenes           4          0.307692

In [16]:
# Top 10 players by total wins
player_stats.sort_values(by='total_wins', ascending=False).head(10)

      player_id            player_name  total_wins  average_win_rate
1579     103819          Roger Federer        1250          0.827815
2674     104925         Novak Djokovic        1203          0.833102
2497     104745           Rafael Nadal        1172          0.819008
1728     103970           David Ferrer         869          0.660334
2667     104918            Andy Murray         842          0.739245
2507     104755        Richard Gasquet         769          0.613727
2363     104607          Tomas Berdych         742          0.659556
2884     105138  Roberto Bautista Agut         724          0.617221
1652     103893          Paolo Lorenzi         704          0.536995
2027     104269      Fernando Verdasco         701          0.562600

In [17]:
# Top 10 players by average win rate with minimum 20 wins
player_stats[player_stats['total_wins'] >= 20].sort_values(by='average_win_rate', ascending=False).head(10)

       player_id            player_name  total_wins  average_win_rate
2674      104925         Novak Djokovic        1203          0.833102
1579      103819          Roger Federer        1250          0.827815
2497      104745           Rafael Nadal        1172          0.819008
16246     207989         Carlos Alcaraz         283          0.790503
143       101869  Juan Luis Tati Rascon          77          0.785714
16242     207985         Jacob Fearnley          62          0.775000
196       101991         Mauricio Hadad          33          0.767442
15267     202475         Philip Henning          76          0.760000
105       101736           Andre Agassi         272          0.759777
17966     210530           Learner Tien         106          0.751773

### Export to csv

In [18]:
# Export player_stats to CSV in the "atp_player_stats" folder
import os

os.makedirs("atp_player_stats", exist_ok=True)
player_stats.to_csv("atp_player_stats/player_stats.csv", index=False)